    @font-face
    {
        font-family: 'roboto';
        src: url(fonts/Roboto-Regular.ttf);
        font-family: 'shrikhand';
        src: url(fonts/Shrikhand-Regular.ttf)
    }

    body
    {
        margin: 0%;
        text-align: center;
        font-family: 'roboto';
    }

    .fleche
    {
        font-size: 20px;
        position: absolute;
        top: 20px;
        left: 25px;
        text-decoration: none;
        color: black;
    }

    .titre_principale
    {
        width: 40%;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .bloc_paris
    {
        display: flex;
        justify-content: center;
        font-weight: bold;
        border-bottom: solid #2e2e2e(0, 0, 0) 0.1px;
        box-shadow: #7a7a7a 0px 0px 5px 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(230, 222, 222);
    }

    .localisation
    {
        padding-right: 10px;
    }

    .bloc_accueil
    {
        background-color: #F2F2F2;
        padding-bottom: 50px;
    }

    h1
    {
        font-size: 22px;
        font-weight: bold;
        margin: 0px;
        padding-top: 16px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .description
    {
        padding-bottom: 40px;
    }

    .exploration
    {
        color: white;
        border-radius: 20px;
        box-shadow: #363636 0 0 5px 0;
        text-decoration: none;
        padding: 15px;
        background: linear-gradient(#FF79DA, #9356DC);
    }

    .chiffre
    {
        position: absolute;
        left: 15px;
        background-color: #9356DC;
        color: white;
        width: 15px;
        padding: 3px;
        font-size: small;
        border-radius: 50%;
        border: 1px solid #DCDCDC;
    }

    .fonctionnement_couleur
    {
        background-color: white;
        padding-bottom: 25px;
    }

    .clic_fonction
    {
        display: flex;
        justify-content: space-evenly;
        border-radius: 20px;
        box-shadow: #cecece 0 0 5px 0;
        background-color: #F2F2F2;
        margin-bottom: 30px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 25px;
        text-decoration: none;
        color: black;   
    }

    .clic_fonction:hover
    {
        background-color: #F5EDFF;
    }

    .fonction 
    {
        position: absolute;
        left: 70px;
    }

    .fonction:hover
    {
        color: #9356DC;
    }

    .fonction_titre
    {
        padding-right: 225px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .bloc_restaurants
    {
        background-color: #F2F2F2;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bloc_menu
    {
        width: 90%;
        border: solid white none;
        border-radius: 20px;
        box-shadow:#b8b7b7 0 0 5px 0;
        margin-bottom: 30px;
    }

    .new
    {
        position: absolute;
        color: #2e923f;
        font-size: 14px;
        border: solid #99E2D0;
        background-color: #99E2D0;
        padding-left: 5px;
        padding-right: 5px;
        right: 15px;
        top: 10px;
    }

    .titre, .titre_second
    {
        display: flex;
        justify-content: start;
        padding-left: 15px;
    }

    .titre
    {
        justify-content: space-between;
        padding-top: 10px;
        padding-right: 20px;
        font-weight: bold;
    }

    .titre_second
    {
        padding-bottom: 15px;
        font-size: 14px;
    }

    .coeur 
    {
        padding-top: 5px;
        font-size: 24px;
    }

    .style
    {
        text-decoration: none;
        color: black;
        position: relative;
        height: 100%;
        display: block;
    }

    .image
    {
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 200px;
        object-fit: cover;
    }

    footer
    {
        background-color: #333333;
        color: white;
        display: flex;
        padding-bottom: 20px;
    }

    .titre_footer
    {
        width: 20%;
        color: white;
        padding-top: 25px;
        padding-bottom: 20px;
        display: flex;
        padding-left: 20px;
    }

    .ligne_1, .ligne_2
    {
        display: flex;
        padding-left: 20px;
    }

    .ligne
    {
        padding-bottom: 10px;
    }

    .ligne_ 
    {
        display: flex;
        justify-content: start;
        padding-left: 40px;
        padding-bottom: 10px;
    }

    .logo 
    {
        padding-right: 7.5px;
    }

    .logo_
    {
        font-size: 12px;
        padding-right: 6px;
        padding-top: 5px;
    }

    .image_haut
    {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .titre_menu
    {
        font-style: italic;
        font-family: 'shrikhand';
        font-size: 26px;
        font-weight: bolder;
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        padding-left: 27px;
        padding-right: 27px;
    }

    .entrees
    {
        display: flex;
        align-items: flex-start;
        padding-left: 25px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
      
    .entrees:after 
    { 
        content: '';
        margin-top: 18px;
        width: 10%; 
        position:absolute;
        height:5px;
        background-color: #99E2D0;
    }


    .ea, .eb, .ec, .ed, .pa, .pb, .pc, .da, .db, .dc
    {
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: start;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 65px;
    }

    .cont_menu
    {
        border: solid white none;
        border-radius: 10px;
        box-shadow: #bdbcbc 0 0 10px 0;
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        justify-content: start;
        background-color: white;
    }

    .bloc_all_menu
    {
        background-color: #F2F2F2;
        position: relative;
        top: -30px;
        border-radius: 30px 30px 0 0;
    }

    main
    {
        background-color: #F2F2F2;
    }

    .e1, .e2, .e3, .e4, .p1, .p2, .p3, .d1, .d2, .d3
    {
        font-weight: bold;
        display: flex;
        margin: 10px;
        font-size: 1rem;
    }

   /* e1=entrée 1, e1a= entrée 1 accompagnement, e1p= entrée 1 prix, ea= entrée A */

    .e1a, .e2a, .e3a, .e4a, .p1a, .p2a, .p3a, .d1a, .d2a, .d3a
    {
        display: flex;
        margin-left: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
        font-size: 0.9rem;
        text-align: start;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .e1p, .e2p, .e3p, .p1p, .p2p, .p3p, .d1p, .d2p, .d3p
    {
       margin-right: 5px;
    }

    .commande
    {
        border-radius: 25px;
        background: linear-gradient(#FF79DA, #9356DC);
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .commander
    {
        text-decoration: none;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .validation
    {
        font-size: 22px;
        background-color: #99E2D0;
        color: white;
        border: none;
        border-radius: 0 10px 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        transition: all 1s;
        opacity: 0;
    }

    .cont_menu:hover .fa-check-circle
    {
        transition: all 1s;
        transform: rotate(720deg);
    }

    .cont_menu:hover .validation
    {
        width: 15%;
        opacity: 1;
    }